{
    "presets": [
        [
            "@babel/preset-env", {
                "targets": {
                    "node": "current" // Enable async/await in Unit test
                }
            }
        ]
    ]
}