@import '../../shared/styles/_dependencies.scss';

$heightInput: 20px;

.inputWrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    @include placeholder($lightGray);
}

.input {
    width: 100%;
    height: $heightInput;
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid $turquoise;
    border-radius: 0px;
    margin: 0.25rem;
    padding: 5px 0px;
    color: $white;
    font-family: $poppins, sans-serif;
    font-size: $small;

        @include tablet {
            margin: 0.7rem;
        }

        @include mobile {
            margin: 0.4rem;
        }
}

// .input:required {
//     border-bottom: 0.5px solid $lightGray;
// }
